<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Villa Pamela</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		{{> header }}

		<!-- Nav -->
		{{> navbar}}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Facilidades</h2>
							<p>Tarifas especiales</p>
						</header>
						<div class="content">
							<p>Contamos con una excelente ubicación, a una hora de San José, con el mejor servicio para sus eventos y reuniones sociales</p>

							<p>Villa Pamela es una quinta especial para disfrutar en familia, amigos o compañeros de trabajo </p>
							
							<p>Exclusiva para tu grupo y rodeada de naturaleza</p>

							<p>Nuestra quinta cuenta con espacios para grupos de 20 personas o menos, especialmente para reuniones empresariales, fiestas, etc</p>

							<p>Cuenta con dos habilitaciones, dos plantas, sala comedor, menaje, dos baños, amplia cochera, piscina y rancho BBQ. </p>
						</div>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{> footer }}

	</body>
</html>