<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title> {{ nombre }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		{{> header }}

		<!-- Nav -->
		{{> navbar }}	

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>Hermosa quinta en alquiler</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Amplios zonas para compartir</h2>
							<p></p>
						</header>
						<div class="content">
							<p>Disfrute con su familia, compañeros de trabajo o amigos</p>
						</div>
						<footer>
							<a href="facilidades" class="button alt">Más información</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Learn More</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Disfrute la naturaleza</h2>
							<p>Excelente ubicación</p>
						</header>
						<div class="content">
							<p> Precioso lugar en el Caribe, a una hora de San José, precios accesibles</p>
						</div>
						<footer>
							<a href="facilidades" class="button alt">Más información</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Tarifas</h2>
							<p>Un día o una noche</p>
						</header>
						<div class="content">
							<p> 55.000 colones, consulte disponibilidad, Una noche (dos días) 99.000 colones</p>
						</div>
						<footer>
							<a href="facilidades" class="button alt">Más información</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Learn More</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Contáctenos</h2>
							<p></p>
						</header>
						<div class="content">
							<p> Whatsapp, correo</p>
						</div>
						<footer>
							<a href="reserve" class="button alt">Más información</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{> footer }}

	</body>
</html>